@import "../../../styles/variables";

.container {
  height: 70px;
  background: #fff;
  box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}

.left {
  display: flex;
  align-items: center;
}
.left_hamburger {
  margin-bottom: 8px;
}

.logo {
  height: 25px;
  width: 144.804px;
}

.searchbar {
  display: none;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(33, 63, 125, 0.2);
  background: #fff;
  width: 400px;
  flex-shrink: 0;
  overflow: hidden;

  input {
    margin: 12px 0px 12px 20px;
    border: none;
    outline: none;
    width: 100%;
    ::placeholder {
      color: #545f7d;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  button {
    width: 56px;
    height: 49px;
    flex-shrink: 0;
    background-color: #39cdcc;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 23px;
}

.doc_link {
  display: none;
  text-decoration: underline;
  color: #213f7d;
  font-size: 16px;
  font-weight: 400;
  text-decoration-line: underline;
}

.bell_icon {
  width: 26px;
  height: 26px;
  flex-shrink: 0;
}

.user_card {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    display: none;
    color: #213f7d;
    font-size: 16px;
    font-weight: 500;
  }
  svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}

.user_card_image {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .container {
    height: 100px;
    padding: 0px 30px;
  }
  .mobile_container {
    display: none;
  }

  .left_hamburger {
    display: none;
  }

  .logo {
    height: 30px;
    width: 144.804px;
  }

  .searchbar {
    display: flex;
  }

  .right {
    gap: 47px;
  }
  .doc_link {
    display: block;
  }

  .user_card {
    p {
      display: block;
    }
  }

  .user_card_image {
    width: 48px;
    height: 48px;
  }
}
