.container {
}

.title {
  color: #213f7d;
  font-size: 16px;
  font-weight: 500;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-top: 30px;
  gap: 30px;
}

.item {
  .name {
    color: #545f7d;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  .value {
    color: #545f7d;
    font-size: 16px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 768px) {
  // Tablet
  .items {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1024px) {
  // Desktop
  .items {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
