.container {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
}

.stats_card {
  height: fit-content;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  background: #fff;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  padding: 20px 20px 30px 30px;
}

.stats_card_icon,
.stats_card_pink_icon,
.stats_card_purple_icon,
.stats_card_orange_icon,
.stats_card_red_icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  svg {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
  }
}

.stats_card_pink_icon {
  background-color: rgba(223, 24, 255, 0.1);

  svg {
    color: #df18ff;
  }
}
.stats_card_purple_icon {
  background-color: rgba(87, 24, 255, 0.1);

  svg {
    color: #5718ff;
  }
}
.stats_card_orange_icon {
  background-color: rgba(245, 95, 68, 0.1);

  svg {
    color: #f55f44;
  }
}
.stats_card_red_icon {
  background-color: rgba(255, 51, 102, 0.1);

  svg {
    color: #f36;
  }
}

.stats_card_title {
  color: #545f7d;
  font-family: var(--font-work-sans);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 14px 0 12px 0;
}

.stats_card_value {
  color: #213f7d;
  font-family: var(--font-work-sans);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  // Tablet
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1024px) {
  // Desktop
  .container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
