.container {
  overflow: auto;
  position: relative;
  width: 100%;
}

.table {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.table_header {
  tr {
    border: 1px solid rgba(33, 63, 125, 0.1);
  }
}

.table_body {
  tr {
    :last-child {
      border: 0px;
    }
  }
}

.table_row {
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  padding-top: 23px;
  padding-bottom: 22px;
}

.table_head {
  color: #545f7d;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.table_footer {
}
