.container {
  display: 100vh;
  overflow: hidden;
  background: #fbfbfb;
}

.wrapper {
  display: flex;
  height: calc(100vh - 100px);
  overflow: hidden;
}

.body {
  overflow-y: auto;
  width: calc(100% - 283px);
  height: 100%;
}

@media (min-width: 768px) {
  .body {
    grid-column: span 8 / span 8;
  }
}
