.container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    color: #545f7d;
    font-size: 14px;
    font-weight: 400;
  }
}

.popover_trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 12px 7px;
  flex-shrink: 0;
  border-radius: 4px;
  background: rgba(33, 63, 125, 0.1);
  gap: 20px;
  border: 0px;
}

.popover_content {
  background-color: #ffffff !important;
  width: 100px;
  box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  div {
    padding: 8px 10px;
    cursor: pointer;
  }
  div:hover {
    background-color: rgba(33, 63, 125, 0.06);
  }
}
